/* Minimal global styles */
@font-face {
  font-family: 'MursGothic';
  /* Make sure the filename below matches your file exactly! */
  src: url('./assets/fonts/mursgothic-widedark.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* This replaces Poppins globally */
  font-family: 'MursGothic', sans-serif;
}

body {
  margin: 0;
  font-family: 'MursGothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Thin scrollbar for Webkit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* Gray-300 */
  border-radius: 20px;
}

/* Dark mode support if needed */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Gray-600 */
}